.flag-wrap {
  border-left: 0;

  .card-footer {
    width: 390px;
    margin: 0 auto;
    background: none;
    padding: 0px;
    border-top: 0px;
    .title {
      font-size: 1rem;
      font-weight: 500;
      max-height: 49px;
      line-height: 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      margin-top: 10px;
      margin-bottom: 5px;
      a {
        text-decoration: none;
        color: #1d1d1d;
        &:hover {
          text-decoration: none;
          color: #FF5000;
        }
      }
    }
    .calendar {
      color: gray;
      text-align: center;
      font-size: 14px;
    }
  }

  .topic {
    margin: 0;
  }

  .card {
    margin-left: -1px;
    padding: 15px;
    margin-bottom: 0;
    border: #dddddd 1px solid!important;
    transition: all .6s ease;
    .card-body {
      padding: 0;
    }
    &:hover {
      z-index: 1;
      box-shadow: 0 10px 20px #ddd;
      border: #FF5000 1px solid!important;
    }
  }
}
