.counts {
  display: flex;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 12px;
  li {
    span {
      margin: 0 5px;
    }
  }
}

img[src=""]{
  opacity: 0;
}

body {
  background-color: #edf1f4;
  padding: 0;
}
