@import "old/variables";
.counts {
  display: flex;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 12px;
  li {
    span {
      margin: 0 5px;
    }
  }
}

img[src=""]{
  opacity: 0;
}

body {
  background-color: #edf1f4;
  padding: 0;
}

.user-icon {
  font-size: 1.1rem;
}
a {
  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
  }
}
.status {
  &.online {
    background-color: $material-success;
    color: $material-success;
  }

  &.away {
    background-color: $material-warning;
    color: $material-warning;
  }

  &.dnd {
    background-color: $material-danger;
    color: $material-danger;
  }

  &.offline {
    background-color: #777;
    color: #777;
  }
}
