$grid-gutter-width: 0;
$card-cap-bg: #fff;
@import "~bootstrap/scss/bootstrap";
@if $enable-grid-classes {
  .container {
    @include make-container($grid-gutter-width);
    @include make-container-max-widths($grid-breakpoints, $grid-breakpoints);
  }
}
a {
  text-decoration: none;
  color: #1d1d1d;
  &:hover {
    text-decoration: none;
    color: #c01e2f;
  }
}
body {
  background: rgba(0, 0, 0, 0);
}

.card {
  overflow: hidden;
  &:hover {
    @extend .shadow;
  }
}

.btn-primary {
  background-color: #666666;
  border-color: #666666;;
  &:hover {
    background: linear-gradient(180deg,rgba(71,144,229,1) 0%,rgba(82,165,244,1) 100%);
    border-color: transparent;
  }
}

::ng-deep .nav-link {
  color: #666666;
}
