$grid-gutter-width: 0;
$card-cap-bg: #fff;
@import "~bootstrap/scss/bootstrap";
@if $enable-grid-classes {
  .container {
    @include make-container($grid-gutter-width);
    @include make-container-max-widths($grid-breakpoints, $grid-breakpoints);
  }
}
a {
  text-decoration: none;
  color: #1d1d1d;
  &:hover {
    text-decoration: none;
    color: #FF5000;
  }
}
html {
  font-size: 16px;
}
body {
  background-color: #edf1f4;
}

.card {
  overflow: hidden;
  border-radius: 8px;
  border: none;
  &:hover {
    @extend .shadow;
  }
  .card-footer {
    border-top: none;
  }
}

.btn-primary {
  background-color: #666666;
  border-color: #666666;;
  &:hover {
    background: linear-gradient(180deg,rgba(71,144,229,1) 0%,rgba(82,165,244,1) 100%);
    border-color: transparent;
  }
}

.nav-link {
  color: #666666;
  padding: 0.5rem 0.5rem;
}

.nav-link.active {
  color: #FF5000;
  border-bottom: #FF5000 solid;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
