@import "card";
@import "old/mixins";
.topic {
  .card {
    @extend .card;
    height: 290px;
    background-color: transparent;
  }
  .card-body {
    padding: 0;
  }
  .card-img {
    overflow: hidden;
    height: 230px;
    img {
      width: 350px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
  .user-icon {
    @include user-icon(20px, 0.92rem);
  }
  .title {
    font-weight: bolder;
    font-size: large;
    a {
      color: black;
    }
  }
}
