@import "card";
@import "old/mixins";
.topic {
  margin: auto;
  .card {
    @extend .card;
    background-color: transparent;
  }
  .card-body{
    padding: 0;
  }
  .card-img {
    overflow: hidden;
    height: 230px;
    position: relative;
    text-align: center;
    img {
      position: absolute;
      height: 230px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .user-icon {
    @include user-icon(20px, 0.92rem);
  }
  .title {
    font-size: 15px;
    font-weight: 500;
    a {
      color: #3f3f3f;
    }
  }
}
