.img-wrap {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  img {
    max-width: 100%;
  }
  .img-btn {
    background-color: #ffad03;
    color: rgb(71, 71, 71);
    font-weight: bold;
    border-radius: 15px;
    padding: 3px 45px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 25%;
    box-shadow: 0px 0px 20px #ffc80c;
  }
}
