//.img-wrap {
//  padding-top: 40px;
//  padding-bottom: 40px;
//  position: relative;
//  img {
//    max-width: 100%;
//  }
//  .img-btn {
//    background-color: #ffad03;
//    color: rgb(71, 71, 71);
//    font-weight: bold;
//    border-radius: 15px;
//    padding: 3px 45px;
//    position: absolute;
//    transform: translateX(-50%);
//    left: 50%;
//    bottom: 25%;
//    box-shadow: 0 0 20px #ffc80c;
//  }
//}
.forum-title {
  text-align: center;
  a {
    display: inline-block;
    font-size: 34px;
    font-weight: bolder;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    &:hover {
      color: black;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        background-color: black;
        height: 2px;
        width: 60%;
        z-index: -1;
        left: 20%;
      }
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      background-color: #F8BD2C;
      height: 60%;
      width: 60%;
      z-index: -1;
      left: 20%;
    }
  }
}

@media (max-width: 576px) {
  .slider {
    padding: 0!important;
    width: 100%;
  }

  ::ng-deep .justify-content-between {
    justify-content: space-around !important;
  }

  ::ng-deep .swiper-slide {
    width: 100% !important;
    height: 33.3% !important;
  }

  ::ng-deep .swiper-slide-prev, ::ng-deep .swiper-slide-next {
    height: 33.3% !important;
    margin-top: 0 !important;
  }

  ::ng-deep .swiper-button-prev, ::ng-deep .swiper-button-next {
    display: none !important;
  }

  //::ng-deep .img-wrap {
  //  padding-top: 20px;
  //  padding-bottom: 20px;
  //}
  //::ng-deep .img-btn {
  //  display: none;
  //}
  ::ng-deep .category a {
    font-size: 1.2rem!important;
  }
  ::ng-deep .nav-link {
    font-size: 0.6rem!important;
  }

  ::ng-deep .wrapper {
    margin-top: 0!important;
  }
  ::ng-deep .swiper-container {
    padding: 0!important;
  }
  ::ng-deep .swiper-container {
    margin-bottom: 25px!important;
  }
}
@media (min-width: 576px) {
  .slider {
    min-width: 1200px;
  }
  .container {
    width: 1200px;
  }
}


