<div class="pt-2 slider">
  <app-default-slider [sliderConfig]="sliderConfig" [sliderDataArray]="sliderDataArray"></app-default-slider>
</div>
<div class="container">
  <div *ngFor="let info of infoList" class="py-2">
    <app-category-tab [categories]="info.categories" [topicListInfo]="info.topicListInfo"></app-category-tab>
  </div>
</div>
<div class="img-wrap">
  <img [src]="'/assets/uploads/category/banner.jpg'" alt="点击进入">
  <a target="_blank" [href]="'/category/12'" class="img-btn">
    点击进入
  </a>
</div>
<div class="container">
  <div class="py-2">
    <app-category-card [categories]="categoriesForCard"></app-category-card>
  </div>
</div>
