<div class="pt-2 slider">
  <app-default-slider [sliderConfig]="sliderConfig" [sliderDataArray]="sliderDataArray"></app-default-slider>
</div>
<div class="container">
  <div *ngFor="let info of infoList" class="py-2">
    <app-category-tab [categories]="info.categories" [topicListInfo]="info.topicListInfo"></app-category-tab>
  </div>
<!--  <app-topic-list-tidy [categoryId]="7"></app-topic-list-tidy>-->
  <div class="ugc-title" style="text-align: center;padding-top: 40px;">
    <a style="font-size: 34px; font-weight: bolder; padding: 20px; background-color: #F8BD2C" target="_blank"  [href]="'/custom/ugc/12/'">潮目社区</a>
    <div style="font-size: 18px; color: #4A4A4A; padding-bottom: 40px; font-weight: lighter">潮流玩家基地</div>
  </div>
</div>
<!--<div class="img-wrap">-->
<!--  <img [src]="'/assets/uploads/category/banner.jpg'" alt="点击进入">-->
<!--  <a target="_blank" [href]="'/custom/ugc/12'" class="img-btn">-->
<!--    点击进入-->
<!--  </a>-->
<!--</div>-->
<div style="background-color: #2F3031">
  <div class="container">
    <div style="padding-top: 30px; padding-bottom: 100px">
  <!--    <app-category-card [categories]="categoriesForCard"></app-category-card>-->
  <!--    <app-category [categoryId]="12"></app-category>-->
      <app-ugc-tab-home></app-ugc-tab-home>
    </div>
  </div>
</div>
