.img-wrap {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  img {
    max-width: 100%;
  }
  .img-btn {
    background-color: #ffad03;
    color: rgb(71, 71, 71);
    font-weight: bold;
    border-radius: 15px;
    padding: 3px 45px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 25%;
    box-shadow: 0 0 20px #ffc80c;
  }
}
@media (max-width: 576px) {
  ::ng-deep .justify-content-between {
    justify-content: space-around !important;
  }
  ::ng-deep .swiper-slide {
    width: 100vw !important;
    height: 33.3vw !important;
  }

  ::ng-deep .swiper-slide-prev, ::ng-deep .swiper-slide-next {
    height: 33.3vw !important;
    margin-top: 0 !important;
  }

  ::ng-deep .img-wrap {
    display: none;
  }
}
@media (min-width: 576px) {
  .slider {
    min-width: 1200px;
  }
  .container {
    width: 1200px;
  }
}


