<div class="pt-2 slider">
  <app-default-slider [sliderConfig]="sliderConfig" [sliderDataArray]="sliderDataArray"></app-default-slider>
</div>
<div class="container">
  <div *ngFor="let info of infoList" class="py-2">
    <app-category-tab [categories]="info.categories" [topicListInfo]="info.topicListInfo"></app-category-tab>
  </div>

  <!--    交易区/红黑榜-->
<!--  <div class="card-slider wrap">-->
<!--    <div class="lg-slider-div">-->
<!--      <div class="">-->
<!--        <ul style="opacity: 1;">-->
<!--          <li>-->
<!--            <div class="slider-tpm" [ngClass]="{'on': mouseIndex==1 || !mouseIndex}" (mouseover)="mouseIndex=1"-->
<!--                 style="background: url('/assets/uploads/category/jiaoyi.jpg') center top no-repeat;">-->
<!--              <div class="long">-->
<!--                <a target="_blank" [href]="'/category/9/'"  style="font-size: 30px; font-weight: 600; color: #e68900;">-->
<!--                  潮目交易区<br>-->
<!--                  交易规则<br>-->
<!--                  blalalalalalala-->
<!--                </a>-->
<!--              </div>-->
<!--              <div class="short" style="font-size: 60px; font-weight: 600;">-->
<!--                交易区-->
<!--              </div>-->
<!--            </div>-->
<!--          </li>-->
<!--          <li>-->
<!--            <div class="slider-tpm" [ngClass]="{'on': mouseIndex==2}" (mouseover)="mouseIndex=2"-->
<!--                 style="background: url('/assets/uploads/category/hong.jpg') center top no-repeat;">-->
<!--              <div class="long">-->
<!--                <a target="_blank" [href]="'/topic/25/'"  style="font-size: 30px; font-weight: 600; color: #e68900;">-->
<!--                  曝光贴<br>-->
<!--                  balalalalalalala-->
<!--                </a>-->
<!--              </div>-->
<!--              <div class="short" style="font-size: 60px; font-weight: 600;">-->
<!--                红黑榜-->
<!--              </div>-->
<!--            </div>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <app-topic-list-tidy [categoryId]="7"></app-topic-list-tidy>-->
  <div class="ugc-title" style="text-align: center;padding-top: 40px;">
    <div class="forum-title">
      <a target="_blank"  [href]="'/custom/ugc/12/'">潮目社区</a>
    </div>
    <div style="font-size: 18px; color: #4A4A4A; padding-bottom: 40px; font-weight: lighter">潮流玩家基地</div>
  </div>
</div>
<!--<div class="img-wrap">-->
<!--  <img [src]="'/assets/uploads/category/banner.jpg'" alt="点击进入">-->
<!--  <a target="_blank" [href]="'/custom/ugc/12'" class="img-btn">-->
<!--    点击进入-->
<!--  </a>-->
<!--</div>-->
<div style="background-color: #2F3031">
  <div class="container">
    <div style="padding-top: 30px; padding-bottom: 100px">
  <!--    <app-category-card [categories]="categoriesForCard"></app-category-card>-->
  <!--    <app-category [categoryId]="12"></app-category>-->
      <app-ugc-tab-home [loadManually]=true></app-ugc-tab-home>
    </div>
  </div>
</div>
