<div *ngIf="categories?.length > 0">
  <div>
    <div class="category">
      <div>{{categories[0].name}}</div>
    </div>
    <hr style="width: 5rem; border: 1px solid black; margin: 0;">
    <hr class="m-0">
  </div>
  <div class="mt-3 d-flex flex-wrap justify-content-between">
    <div class="card mb-3" *ngFor="let category of categories | slice:1">
      <div class="card-body">
        <div class="d-flex m-3">
          <h5 class="h5 mr-2">{{category.name}}</h5>
          <a *ngIf="category.name === '晒图区'" target="_blank" [href]="'/custom/category/' + category.cid + '/'"><small>浏览全部</small></a>
          <a *ngIf="category.name !== '晒图区'" target="_blank" [href]="'/category/' + category.cid + '/'"><small>浏览全部</small></a>
        </div>
        <div>
          <app-topic-list-tow-line [category]="category" [pageNumber]="0" [topicNumberPerPage]="5"></app-topic-list-tow-line>
        </div>
      </div>
    </div>
  </div>
</div>

