.card {
  width: 294px;
  .card-body {
    padding: 0;
    height: 584px;
    .card-img-top {
      height: 176px;
      overflow: hidden;
    }
  }
  .title {
    height: 4em;
  }
}

.category {
  display: flex;
  font-size: 1.25rem;
  color: #1d1d1d;
}
.category-name {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px;
  width: 100%;
}

a small {
  color: rgba(0, 0, 0, 0.5);
  &:hover {
    color: inherit;
  }
}
