<div *ngIf="categories?.length > 0">
  <div>
    <div class="category">
      <div>{{categories[0].name}}</div>
    </div>
    <hr style="width: 80px; border: 1px solid black; margin: 0;">
    <hr class="m-0">
  </div>
  <div class="mt-2 d-flex flex-wrap justify-content-between">
    <div class="card mb-2" *ngFor="let category of categories | slice:1">
      <div class="card-body">
        <a [href]="'/category/' + categories[0].cid + '/'">
          <div class="card-img-top position-relative">
            <img [src]="category.image || defaultImg" alt="">
            <div class="category-name position-absolute text-white">
              {{category.name}}
            </div>
          </div>
        </a>
        <div class="m-3">
          <app-topic-list [category]="category" [pageNumber]="0" [topicNumberPerPage]="6"></app-topic-list>
        </div>
      </div>
    </div>
  </div>
</div>

