.img-wrap {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  img {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  ::ng-deep .justify-content-between {
    justify-content: space-around !important;
  }
  ::ng-deep #originView {
    display: none;
  }
}
