<div class="position-relative section" *ngIf="categories?.length > 0">
  <div class="position-absolute" *ngIf="topicListInfo?.showTitle != false">
    <div class="category">
      <div>{{categories[0].name}}</div>
      <a class="ml-2 nav-link" style="padding: 0;" target="_blank"  [href]="'/custom/categories/' + categories[0].cid + '/'"><small>浏览全部</small></a>
    </div>
    <hr style="width: 5rem; border: 1px solid black; margin-top: 0.5rem; margin-left: 0;">
  </div>
  <div style="float: right" *ngIf="topicListInfo?.showTitle != true">
    <div class="category">
      <div ngbDropdown placement="bottom-right" class="d-inline-block">
        <button class="btn" id="dropdownBasic1" ngbDropdownToggle>排序</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="sendSortType('newest_to_oldest')">按最新回帖排序</button>
          <button ngbDropdownItem (click)="sendSortType('most_posts')">按最多回复排序</button>
          <button ngbDropdownItem (click)="sendSortType('most_votes')">按最多点赞排序</button>
        </div>
      </div>
    </div>
  </div>

  <ngb-tabset class="ugc-tab-set" [justify]="topicListInfo?.showTitle? 'end':'start'" type="">
    <ngb-tab *ngFor="let category of categories" [title]="category.name == categories[0].name ? '最热' : category.name">
      <ng-template  ngbTabContent style="margin-top: 20px" >
        <div class="mb-3"></div>
          <app-category [categoryId]="category.cid" [sortType]="sortType" [loadManually]="true"></app-category>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>


