@media (max-width: 576px) {
  .ugc-tab-set {
    font-size: 12px;
  }
  #dropdownBasic1 {
    display: none;
    //font-size: 12px;
  }
}
.category {
  display: flex;
  font-size: 1.25rem;
  color: #1d1d1d;
}
.ugc-tab-set {
  font-weight: 500;
  ::ng-deep .nav-link {
    color: white;
  }
  ::ng-deep .nav-link.active {
    color: #F8BD2C;
    border-bottom: #F8BD2C solid;
  }
}
#dropdownBasic1 {
  color: white;
  border-color: transparent;
  padding: 0.5rem 1rem;
  line-height: 1.8;
  box-shadow: none !important;
}
