@media (max-width: 576px) {
  .ugc-tab-set {
    font-size: 12px;
  }
  #dropdownBasic1 {
    display: none;
    //font-size: 12px;
  }
}
.category {
  display: flex;
  font-size: 1.25rem;
  color: #1d1d1d;
}
.ugc-tab-set {
  font-weight: 500;
  color: #333333;
}
#dropdownBasic1 {
  color: #333333;
  border-color: transparent;
  padding: 0.5rem 1rem;
  line-height: 1.8;
  box-shadow: none !important;
}
