<div class="position-relative section" *ngIf="categories?.length > 0">
  <div class="position-absolute" *ngIf="topicListInfo?.showTitle != false">
    <div class="category">
      <a target="_blank"  [href]="'/custom/categories/' + categories[0].cid + '/'">{{categories[0].name}}</a>
    </div>
  </div>
  <div style="float: right" *ngIf="topicListInfo?.showTitle != true">
    <div class="category">
<!--      <a id="originView" class="ml-2 nav-link" style="padding: 0;" target="_blank" [href]="'/category/' + categories[0].cid + '/'"><small>列表视图</small></a>-->
    </div>
  </div>

  <ngb-tabset [justify]="topicListInfo?.showTitle? 'end':'start'" type="" style="font-weight: 500;">
    <ngb-tab *ngFor="let category of categories" [title]="category.name == categories[0].name ? '精选' : category.name">
      <ng-template ngbTabContent style="margin-top: 20px">
        <app-topic-infinite-scroll [topicListInfo]="topicListInfo" [categoryId]="category.cid"></app-topic-infinite-scroll>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <div style="padding-top: 10px; padding-bottom: 40px"><a class="browse-all" style="font-size: 1rem; color: #F8BD2C" target="_blank"
  [href]="'/custom/categories/' + categories[0].cid + '/'">查看更多<i class="fa fa-angle-right ml-2" style="font-size:21px"></i></a></div>
</div>


