<div  infiniteScroll
      [infiniteScrollThrottle]="throttle"
      [infiniteScrollDistance]="scrollDistance" class="d-flex justify-content-between flex-wrap">
    <app-topic-card *ngFor="let topic of topics" [topic]="topic" [styleType]="topicListInfo.styleType"></app-topic-card>
</div>
<div class="w-100" style="margin-top: 10px">
  <button type="button" class="btn m-auto d-block btn-primary text-white" style="background-color: #FF5000"
          *ngIf="!finished" (click)="onScroll()">加载更多</button>
</div>
