.category {
  display: flex;
  font-size: 1.25rem;
  color: #1d1d1d;
}
.ugc-tab-set {
  font-weight: 500;
  color: #333333;
}
#dropdownBasic1 {
  color: #333333;
  border-color: transparent;
  padding: 0.5rem 1rem;
  line-height: 1.8;
  box-shadow: none !important;
}
@media (max-width: 576px) {
  ::ng-deep #dropdownBasic1 {
    font-size: 0.6rem!important;
    padding: 0!important;
    line-height: 0!important;
  }
  ::ng-deep .nav-link {
    font-size: 0.6rem!important;
  }
  ::ng-deep .img-wrap {
    padding-bottom: 25px!important;
  }
}

