<div class="position-relative section" *ngIf="categories?.length > 0">
  <div class="position-absolute" *ngIf="topicListInfo?.showTitle != false">
    <div class="category">
      <div>{{categories[0].name}}</div>
      <a class="ml-2 nav-link" style="padding: 0;" target="_blank"  [href]="'/custom/categories/' + categories[0].cid + '/'"><small>浏览全部</small></a>
    </div>
    <hr style="width: 5rem; border: 1px solid black; margin-top: 0.5rem; margin-left: 0;">
  </div>
  <div style="float: right" *ngIf="topicListInfo?.showTitle != true">
    <div class="category">
      <a id="originView" class="ml-2 nav-link" style="padding: 0.5rem 1rem; color: #333333" target="_blank" [href]="'/category/' + categories[0].cid + '/'"><small>列表视图</small></a>
    </div>
  </div>

  <ngb-tabset class="ugc-tab-set" [justify]="topicListInfo?.showTitle? 'end':'start'" type="">
    <ngb-tab *ngFor="let category of categories" [title]="category.name == categories[0].name ? '🔥最热' : category.name">
      <ng-template  ngbTabContent style="margin-top: 20px" >
        <hr class="m-0 mb-3">
        <div *ngIf="category.name === '晒图区' else topicList">
          <app-category [categoryId]="category.cid"></app-category>
        </div>
        <ng-template #topicList>
          <app-topic-list-ugc [category]="category" [pageNumber]="0" [topicNumberPerPage]="100" [showAllPreviews]=true></app-topic-list-ugc>
        </ng-template>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>


