::ng-deep body {
  overflow: inherit!important;
  overflow-x: hidden!important;
  background-color: white!important;
}

.img-wrap {
  padding-bottom: 40px;
  position: relative;
  img {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  ::ng-deep .justify-content-between {
    justify-content: space-around !important;
  }
  ::ng-deep #originView {
    display: none;
  }
}
