::ng-deep body {
  overflow: inherit!important;
  overflow-x: hidden!important;
  background-color: white!important;
}

.img-wrap {
  padding-bottom: 40px;
  position: relative;
  img {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  ::ng-deep .justify-content-between {
    justify-content: space-around !important;
  }
  ::ng-deep #originView {
    display: none;
  }
  .slider {
    padding: 0!important;
    width: 100%;
  }

  ::ng-deep .justify-content-between {
    justify-content: space-around !important;
  }

  ::ng-deep .swiper-slide {
    width: 100% !important;
    height: 33.3% !important;
  }

  ::ng-deep .swiper-slide-prev, ::ng-deep .swiper-slide-next {
    height: 33.3% !important;
    margin-top: 0 !important;
  }

  ::ng-deep .swiper-button-prev, ::ng-deep .swiper-button-next {
    display: none !important;
  }

  ::ng-deep .swiper-slide-active {
    box-shadow: none !important;
    &:hover {
      box-shadow: none !important;
    }
  }
  ::ng-deep .wrapper {
    margin-top: 0!important;
  }
  ::ng-deep .swiper-container {
    padding: 0!important;
  }
  ::ng-deep .swiper-container {
    margin-bottom: 10px!important;
  }
}
