
.img-wrapper {
  height: 180px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
  img {
    //width: 294px;
    height: 180px;
    transform: scale(1);
    transition: transform 0.4s ease 0s;
    &:hover {
      transform: scale(1.1);
      transition: transform 0.4s ease 0s;
    }
  }
  .img-title {
    position: absolute;
    color: white;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,.6) 94%);
  }
}

.title {
  height: 2.6rem;
  margin-bottom: 1rem;
}
