<ngx-masonry [options]="masonryOptions" [useImagesLoaded]="true" class="masonry">
  <div ngxMasonryItem class="masonry-item" *ngFor="let topic of topics">
    <a class="card" [href]="topic.getLink(config.relativePath)" itemprop="url" target="_blank">
      <a>
        <div class="card-body">
          <div *ngIf="getImg(topic)"  class="card-img">
            <img [src]="getImg(topic)" alt="" style="width: 285px;">
          </div>
        </div>
      </a>
      <a class="card-footer">
        <div style="width: 235px; margin: 0 auto;">
          <div class="text-content" *ngIf="!getImg(topic)">
            <div class="card-text-content" [innerHTML]="topic.mainPost.content" style="overflow : hidden;
            text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 15;-webkit-box-orient: vertical;"></div>
          </div>
          <hr style="margin-bottom: 0.5rem" *ngIf="!getImg(topic)"/>
          <div class="title">
            <a [href]="topic.getLink(config.relativePath)" target="_blank">{{topic.title}}</a>
          </div>
          <div>
            <div class="user-info">
              <a [href]="topic.user.getLink(config.relativePath)" target="_blank">
                <ng-container *ngIf="topic?.user?.picture; else userNoIcon">
                  <img class="user-avatar" [src]="topic.user.picture" [alt]="topic.user.username"
                       [title]="topic.user.username"/>
                  <span class="ml-2"><small style="color: #777777">{{topic.user.username}}</small></span>
                </ng-container>
                <ng-template #userNoIcon>
                  <span class="user-icon" [title]="topic.user.username"
                        [style.background-color]="topic.user.iconBgColor">{{topic.user.iconText}}</span>
                  <span class="ml-2"><small style="color: #777777">{{topic.user.username}}</small></span>
                </ng-template>
              </a>
              <div class="ml-auto">
                <i class="fa fa-commenting-o mr-1"></i><small class="mr-2">{{topic.postCount-1}}</small>
                <i class="fa fa-heart-o mr-1"></i><small>{{topic.votes}}</small>
              </div>
            </div>
          </div>
        </div>
      </a>
    </a>
  </div>
</ngx-masonry>
<div *ngIf="gettingTopic" style="margin: auto; width: 50px; font-size: 2.5rem; color:gray;"><i class="fa fa-spinner fa-pulse"></i></div>
