@import "../../../assets/scss/bootstrap-interface";
@include media-breakpoint-down(xs) {
  .masonry {
    width: 92% !important;
  }
  .masonry-item {
    width: 100% !important;
  }
}

.masonry {
  margin: auto;
  width: 1200px;
}

.masonry-item {
  width: 386px;
  margin-bottom: 20px;
}

.card-body {
  padding: 0;
}

.card {
  overflow: hidden;
  border-radius: 8px;

  .user-info {
    display: flex;
    color: #777777;
    margin-top: 15px;
  }
  .user-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  .user-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
  }
  img {
    width: 100%;
  }
  .card-footer {
    .title {
      font-size: 16px;
      font-weight: 400;
      max-height: 49px;
      line-height: 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    .text-content {
      font-size: 16px;
      font-weight: 400;
      max-height: 300px;
      line-height: 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      color: #BCBCBC;
    }
  }
}
.card:hover {
  .card-img {
    img {
      transition: all 0.5s;
      transform: scale(1.1);
    }
    overflow: hidden;
    cursor: pointer;
  }
}

:host {
  margin: auto;
}
