@import "../../../assets/scss/bootstrap-interface";
@include media-breakpoint-down(xs) {
  .masonry {
    width: 92% !important;
  }
  .masonry-item {
    width: 100% !important;
  }
}

.masonry {
  margin: auto;
  width: 1200px;
}

.masonry-item {
  width: 386px;
  margin-bottom: 20px;
}

.card-body {
  padding: 0;
}

.card {
  overflow: hidden;
  border-radius: 8px;

  .user-info {
    display: flex;
    color: #666666;
    margin-top: 10px;
  }
  .user-avatar {
    width: 24px;
    height: 24px;
  }
  img {
    width: 100%;
  }
}

:host {
  margin: auto;
}
