<ng-container *ngIf="firstTopics.length >= 4">
  <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let topic of firstTopics">
        <div><img [src]="getImg(topic.posts)" alt=""></div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</ng-container>
{{firstTopics.length}}
<div [ngClass]="{'display-animation': !removeCategoriesAnimation}">
  <div *ngFor="let category of categories">
    <div style="display: flex; padding:15px;">
      <h4 [innerHTML]="category.name"></h4>
      <hr style="height: 20px; border-left: 2px solid #dddddd; border-top: 0;margin: 5px 10px 0 10px;">
      <span class="pt-1" [innerHTML]="category.descriptionParsed"></span>
    </div>
    <div class="row no-wrap m-auto">
      <div class="topic" [ngClass]="category.class" *ngFor="let topic of category.topics">
        <div class="card" [style]="sanitizer.bypassSecurityTrustStyle(category.getStyle())">
          <a [href]="topic.getLink()" itemprop="url" target="_blank">
            <div class="card-body">
              <ul class="counts float-right">
                <li>
                  <i class="fa fa-book"></i><span class="human-readable-number">{{topic.viewCount}}</span>
                </li>
                <li>
                  <i class="fa fa-pencil"></i><span class="human-readable-number">{{topic.postCount}}</span>
                </li>
              </ul>
              <div class="card-img">
                <img [src]="getImg(topic.posts)" alt="">
              </div>
            </div>
          </a>
          <div class="card-footer">
            <div>
              <div class="float-left hidden-xs user-avatar">
                <a [href]="topic.user.getLink()">
                  <ng-container *ngIf="topic?.user?.picture; else userNoIcon">
                    <img class="user-avatar" [src]="topic.user.picture" [alt]="topic.user.username"
                         [title]="topic.user.username"/>
                  </ng-container>
                  <ng-template #userNoIcon>
                    <div class="user-icon" [title]="topic.user.username"
                         [style.background-color]="topic.user.iconBgColor">{{topic.user.iconText}}</div>
                  </ng-template>
                </a>
              </div>
              <div class="title">
                <a [href]="topic.getLink()">{{topic.title}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
