.topic-swiper {
  .swiper-wrap {
    overflow: hidden;
  }

  .swiper-container {
    margin-bottom: 45px;
    width: 100%;
    overflow: initial;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 1200px;

    div {
      height: 400px;
      overflow: hidden;

      img {
        width: 1200px;
      }
    }
  }
}

.tag-swiper {
  width: 100%;
  position: relative;
  background-color: #333333;
  height: 350px;
  overflow: hidden;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;

  .swiper-container {
    width: 90%;
    height: 200px;
  }

  .swiper-slide {
    //background-position: center;
    background-size: cover;
    text-align: center;
    //font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    div {
      height: 400px;
      overflow: hidden;

      img {
        width: 400px;
      }
    }
  }


}

::ng-deep .nav-tabs {
  font-weight: 500;
  font-size: 20px;
  padding: 30px;
  .nav-link {
    margin: 0 20px;
    border: #2196f3 1px solid;
    border-radius: 20px;
    padding: 0 15px;
    line-height: 35px;
    background: #ffffff;
    color: #2196f3;
    display: inline-block;
    transition: all 0.3s ease 0s;
    &.active {
      background: #2196f3;
      color: #ffffff;
    }
  }
}

.title-category {
  font-size: 22px;
  font-weight: 600;
  color: #333333;
}

.row {
  div {
    padding-right: 0;
    padding-left: 0;
  }
  :first-child {
    padding-left: 0;
  }
  :last-child {
    padding-right: 0;
  }
}

.list {
  position: absolute;
}

.swiper-slide {
  margin-top: 10px;
}

.swiper-slide-active {
  //margin-top: 0;
  //height: 425px;
  //position: relative;
  //div {height: 425px}
  &:after{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0 14px 25px rgba(22, 32, 47, 0.4);
    transition: all 0.3s ease 0s;
    width: 100%;
    display: block;
    content: '';
    z-index: -1;
  }
  &:hover {
    &:after {
      box-shadow: 0 16px 25px rgba(22, 32, 47, 0.6);
    }
  }
}

.swiper-slide-prev div {
  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
  }
}

.swiper-slide-next div {
  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
  }
}

.flag-wrap {
    background: #ffffff;
    border-left: 0;

    .card-footer {
      background: none;
      margin-top: 10px;
      padding: 0px;
      border-top: 0px;
      margin-bottom: 0px;
      .title {
        margin: 5px;
      }
    }

    .topic {
      margin: 0px;
    }

    .card {
      margin-left: -1px;
      height: 320px;
      padding: 15px;
      margin-bottom: 0px;
      border: #dddddd 1px solid!important;
      //border: 0;
      transition: all .6s ease;
      &:hover {
        z-index: 1;
        box-shadow: 0 10px 20px #ddd;
        border: #2196f3 1px solid!important;
      }
    }
}

.flag-wrap-pgc {
  background: transparent;
  width: calc(100% + 39px);
  margin-left: -19px!important;

  .topic {
    .card {
      border: 0;
      .card-body {
        overflow: hidden;
        .card-img {
          cursor: pointer;
          transition: all 0.5s;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .card-footer {
    background: transparent;
    margin-top: 15px;
    border-top: 0;
    margin-bottom: 0;
    padding-left: 20px;

    .title {
      width: 269px;
      font-size: 16px;
      font-weight: 500;
      color: #3f3f3f;
    }

    .user-avatar {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }
}

.slider-whole {
  position:relative;
  margin-top:40px;
  margin-bottom: 50px;
  display: flex;
  img{
    height: 100%;
  }
  &>div{
    transition: all .6s ease;
    width: 66.66%;
    overflow: hidden;
    //flex: 1;
    &.on{
      width: 33.33%;
      flex: initial;
    }
  }
}

.home-separator {
  display: block;
  border-top: 2px solid #faba41;
  margin-top: -15px;
  margin-bottom: 10px;
}

.home-up-separator {
  display: block;
  border-top: 2px solid #faba41;
  margin-top: 18px;
  margin-bottom: -15px;
}

.card-slider {
  position:relative;
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  ul {
    overflow: hidden;
    height: 510px;
    opacity: 0;
    box-shadow: 2px 5px 20px rgba(119,119,119,0.3);
    padding: 0;

    li {
      float: left;
      list-style: none;
      padding: 0;

      .slider-tpm {
        transition:width 0.5s;
        width: 300px;
      }

      .on {
        box-shadow: 5px 0 12px rgba(0, 0, 0, 0.35);
        z-index: 1;
        width: 600px;

        .long {
          opacity: 1;
        }

        .short {
          opacity: 0;
        }

        &:after {
          opacity: 0;
        }
      }

      &>div {
        box-shadow: rgb(0, 0, 0) 0px 0px 3px;
        display: block;
        position: relative;
        z-index: 0;
        width: 300px;
        height: 510px;
        text-align: center;

        &:after {
          display: block;
          content: '';
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .45);
        }

        .short {
          position: absolute;
          top: 378px;
          max-width: 90%;
          width: 90%;
          transition: all .6s;
          opacity: 1;
          transform: translateX(-50%);
          left: 50%;
          color: #fff;
          font-size: 16px;
          line-height: normal;
          text-shadow: 1px 1px 5px rgba(0, 0, 0, .65);
        }

        .long {
          background: rgba(0, 0, 0, 0.4);
          position: absolute;
          top: 105px;
          left: 50%;
          transform: translateX(-50%);
          max-width: 90%;
          z-index: 1;
          transition: all .6s;
          opacity: 0;
          width: 90%;
          font-size: 15px;
          margin: 0 10px;
          text-shadow: 1px 0 black, 0 -1px black;
          border-radius: 5px;
          color: #fff;
          overflow: hidden;
          max-height: 253px;
        }

        h3 {
          color: #fff;
          font-size: 18px;
          line-height: 25px;
          text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.65);
        }
      }
    }
  }
}
