.swiper-wrap {
  overflow: hidden;
}
.swiper-container {
  margin-bottom: 45px;
  width: 100%;
  overflow: initial;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 1200px;
  div {
    height: 400px;
    overflow: hidden;
    img {
      width: 1200px;
    }
  }
}

::ng-deep .nav-tabs {
  font-weight: 500;
  font-size: 20px;
  padding: 30px;
  .nav-link {
    margin: 0 20px;
    border: #2196f3 1px solid;
    border-radius: 20px;
    padding: 0 15px;
    line-height: 35px;
    background: #ffffff;
    color: #2196f3;
    display: inline-block;
    transition: all 0.3s ease 0s;
    &.active {
      background: #2196f3;
      color: #ffffff;
    }
  }
}

.row {
  div {
    padding-right: 0;
    padding-left: 0;
  }
  :first-child {
    padding-left: 0;
  }
  :last-child {
    padding-right: 0;
  }
}

.list {
  position: absolute;
}

.swiper-slide {
  margin-top: 10px;
}

.swiper-slide-active {
  margin-top: 0;
  height: 425px;
  position: relative;
  div {height: 425px}
  &:after{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0 14px 25px rgba(22, 32, 47, 0.4);
    transition: all 0.3s ease 0s;
    width: 100%;
    display: block;
    content: '';
  }
  &:hover {
    &:after {
      box-shadow: 0 16px 25px rgba(22, 32, 47, 0.6);
    }
  }
}

.swiper-slide-prev div {
  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 320px;
    height: 400px;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
  }
}

.swiper-slide-next div {
  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 320px;
    height: 400px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
  }
}

.flag-wrap {
    background: #ffffff;
    border-left: 0;

    .card-footer {
      background: none;
      margin-top: 10px;
      padding: 0px;
      border-top: 0px;
      margin-bottom: 0px;
      .title {
        margin: 5px;
      }
    }

    .topic {
      margin: 0px;
    }

    .card {
      margin-left: -1px;
      height: 320px;
      padding: 15px;
      margin-bottom: 0px;
      border: #dddddd 1px solid!important;
      //border: 0;
      transition: all .6s ease;
      &:hover {
        z-index: 1;
        box-shadow: 0 10px 20px #ddd;
        border: #2196f3 1px solid!important;
      }
    }
}

.flag-wrap-pgc {
  background: transparent;
  width: calc(100% + 39px);
  margin-left: -19px!important;

  .topic {
    .card {
      border: 0;
      .card-body {
        overflow: hidden;
        .card-img {
          cursor: pointer;
          transition: all 0.5s;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .card-footer {
    background: transparent;
    margin-top: 15px;
    border-top: 0;
    margin-bottom: 0;
    padding-left: 20px;

    .title {
      width: 269px;
      font-size: 16px;
      font-weight: 600;
    }

    .user-avatar {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
}

.slider-whole {
  position:relative;
  margin-top:40px;
  margin-bottom: 50px;
  display: flex;
  img{
    height: 100%;
  }
  &>div{
    transition: all .6s ease;
    width: 66.66%;
    overflow: hidden;
    //flex: 1;
    &.on{
      width: 33.33%;
      flex: initial;
    }
  }
}

.home-separator {
  display: block;
  border-top: 1px solid #faba41;
  margin-top: -15px;
  margin-bottom: 10px;
}
