.default {
  @import "default";
}

.swiper-pagination {
  display: none;
}
.swiper-button-prev {
  display: none;
}
.swiper-button-next {
  display: none;
}
.swiper-slide-next {
  display: none;
}
.swiper-slide-prev {
  display: none;
}
