.card {
  .card-body {
    overflow: hidden;
    padding: 0;
    height: 0;
    img {
      width: 100%;
    }
  }
  .user-info {
    display: flex;
    color: #666666;
  }
  .user-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  .user-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
  }
  .title {
    height: 4em;
  }
}

@import "../../../assets/scss/bootstrap-interface";
@include media-breakpoint-down(xs) {
  :host {
    width: 92% !important;
  }
}
