.card {
  .card-body {
    overflow: hidden;
    padding: 0;
    height: 0;
    img {
      width: 100%;
    }
  }
  .user-info {
    display: flex;
    color: #666666;
  }
  .user-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  .user-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
  }
  .title {
    height: 4em;
  }
  .promotion-tag {
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    padding: 0 8px;
    text-align: center;
    color: black;
    background: #F8BD2C;
    opacity: 0.9;
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 10px;
    min-width: 28px;
  }

}

@import "../../../assets/scss/bootstrap-interface";
@include media-breakpoint-down(xs) {
  :host {
    width: 92% !important;
  }
}
